.categ{
	margin-left: 5em;
	width: 50%;
	height: 5em;
	display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: #a80f38;
    color: #ffffff;
    box-shadow: 15px 10px 15px -5px rgb(0 0 0 / 85%);
}
#panier{
	width: 30%;
	text-align: center;
	background-color: darkmagenta;
}
section{
	height: 800px;
	display: flex;
}
article{
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
h2{
	margin: 0;
	margin-left: 10%;
}
#listePlat{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.choixPlat{
	width:30%; 
	text-align:center;
	cursor: pointer;
}

.choixPlat:hover{
	border:2px solid red;
	border-radius: 2rem;
}
.mini_photo{
	width: 50px;
}
.info_detail{
	width: 95%;
	margin: auto;
	display: flex;
	border:2px solid #a80f38;
	justify-content: space-around;
	align-items: center;
	margin-top: 1rem;
	flex-wrap: wrap;
}
.info_detail>p{
	margin: 0;
}
.trash{
	width: 30px;
	cursor: pointer;
}
.trash:hover{
	transform: scale(1.1);
}

#panier_total{
	border-radius: 20px;
	width: 95%;
	background-color: #a80f38;
	color: white;
	margin: 1em auto;
	padding: 1em 0px;
	text-align: center;
}

#Button{
	width: 60%;
}

#detail_panier{
	height: 40rem;
	overflow: auto;
	border: 2px solid red;
	margin: 5px 1rem;
	box-shadow: inset 0px 0px 13px 8px rgba(0,0,0,0.47);
	background-color: white;
}
@media all and (max-width: 800px)
{
	section{
    	flex-wrap: wrap;
    }
    article{
    	width: 100%;
    }
    #panier{
    	width: 100%;
    }
    .categ{
    	width: 80%;
    	margin: auto;
    }
    #detail_panier{
    	height: 10rem;
    }

}